body{
    padding: 0;
    margin: 0;
    background-color:  #030304;

}

*{
    box-sizing: border-box;
    transition: all, .3s ease-in-out;
}

.screen{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


span{
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: #00ff66 1px 1px 20px;
}

.logo1{
    color: white;
}

header{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #00ff66;
    font-size: 40px;
    width: 100%;
    height: 70px;
    /* border: 2px solid #5e5e5e; */
}

.Sign_up{
  width: 300px;
  height: 100px;
  background-color: yellow;
}

form{
    background-color:  #0a0b0e;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    border: 1px solid greenyellow;
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

form:hover{
    width: 410px;
    height: 360px;
    box-shadow: 0px 0px 15px #00ff66;
}

input{
    border: none;
    width: 300px;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #00ff66;
    background-color: black;
}

input:focus{
    outline: none;
}

.sign{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
    color: #00ff66;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    font-size: 18px;
    width: 200px;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    background-color: #00ff66;
}

button:hover{
    background: #03d457;



}