body{
    padding: 0;
    margin: 0;
    background-color:  #030304;

}

*{
    box-sizing: border-box;
    transition: all, .3s ease-in-out;
}

.screen{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


span{
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: #00ff66 1px 1px 20px;
}

.logo1{
    color: white;
}

header{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #00ff66;
    font-size: 40px;
    width: 100%;
    height: 70px;
    border:none;
}

.Sign_up{
  width: 300px;
  height: 100px;
  background-color: yellow;
}

form{

    background-color:  #0a0b0e;
    width: 400px;
    height: 300px;
    color: white;
    font-family: sans-serif;
    flex-direction: column;
    gap: 17px; 
    border: 1px solid greenyellow;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

p{
    font-size: 10px;
}

form:hover{
    width: 410px;
    height: 310px;
    box-shadow: 0px 0px 15px #00ff66;
}

input, .input{
    background-color: black;
    color: white;
    border: none;
    width: 300px;
    background: transparent;
    border-bottom: 1px solid #00ff66;
    padding: 5px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    /* border-radius: 10px; */

}

input:focus{
    outline: none;
}

input::placeholder{
    color: gray;
}

.sign{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    color: #00ff66;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    font-size: 15px;
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #01e45c;
}

button:hover{
    background: #01e47c;

}